{% extends 'base.html.twig' %}

{% block title %}Demyqewiki.gg{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <!-- Start "Home Page Feature" -->
    <div class="home">
        <!-- Start "Container Home Page" -->
        <div class="container">
            <!-- Start "Title & Subtitle" -->
            <div class="row text-center">
                <div class="col-12">
                    <div class="title">
                        <h1 class="h1">DEMYQEWIKI.GG</h1>
                    </div>
                    <div class="subtitle">
                        <p class="fs-4 fst-italic">
                            Sniping <strong>Sn0W3838</strong> has never been so easy
                        </p>
                    </div>
                </div>
            </div>
            <!-- End "Title & Subtitle" -->

            <!-- Start "SearchBar EUW Summoner" -->
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-around">
                        <div class="card" style="width: 18rem;">
                            <img src="https://static.u.gg/assets/lol/riot_static/12.16.1/img/champion/Zac.png" class="card-img-top" alt="Icon Zac">
                            <div class="card-body text-center">
                                <h5 class="card-title">PeeIsInBalls</h5>
                                <a href="{{ path('app_stats', {'summonerName': 'PeeIsInBalls'}) }}" class="btn btn-primary">Snipe</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="https://static.u.gg/assets/lol/riot_static/12.16.1/img/champion/Yuumi.png" class="card-img-top" alt="Icon Yuumi">
                            <div class="card-body text-center">
                                <h5 class="card-title">Demyqewiki</h5>
                                <a href="{{ path('app_stats', {'summonerName': 'Demyqewiki'}) }}" class="btn btn-primary">Snipe</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="https://static.u.gg/assets/lol/riot_static/12.16.1/img/champion/Illaoi.png" class="card-img-top" alt="Icon Illaoi">
                            <div class="card-body text-center">
                                <h5 class="card-title">Sn0W3838</h5>
                                <a href="{{ path('app_stats', {'summonerName': 'Sn0W3838'}) }}" class="btn btn-primary">Snipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End "summonerName EUW Summoner" -->
        </div>
        <!-- End "Container Home Page" -->
    </div>
    <!-- End "Home Page Feature" -->
{% endblock %}
