.stats{
  .summoner-profile-component {
    border: #22224c 1px;
    padding: 1em 0.5em;
    background-color: #4f4f7b;
    border-radius: 3px;
    color: white;

    .summoner-icon {
      margin-right: 1em;

      img {
        width: 5em;
        height: 5em;
        border: 0;
        vertical-align: middle;
      }
    }

    .summoner-name {
      align-items: center;
      font-weight: bold;
      font-size: 24px;
      height: 32px;
      margin-top: 8px;
    }
  }

  .summoner-ranked-component {
    border-radius: 3px;

    .summoner-solo-ranked, .summoner-flex-ranked {
      .card {
        .card-header {
          background-color: #4f4f7b;
          color: white;
          font-weight: bold;
        }

        .card-body {
          align-items: center;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;

          .solo-tier-icon, .flex-tier-icon {
            position: relative;

            img {
              width: 4em;
              height: 4em;
              vertical-align: middle;
            }
          }

          .solo-tier-content, .flex-tier-content {
            position: relative;
            flex: 1 1 0;

            .solo-tier-title, .flex-tier-title {
              line-height: 26px;
              font-size: 20px;
              font-weight: bold;
              text-transform: capitalize;
            }

            .solo-tier-lp, .flex-tier-lp {
              line-height: 16px;
              font-size: 14px;
            }
          }

          .solo-win-loose-stats, .flex-win-loose-stats {
            font-size: 14px;
            text-align: right;

            .solo-win-loose, .flex-win-loose {
              line-height: 26px;
            }

            .solo-ratio, .flex-ratio {
              margin-top: 2px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }

  .summoner-match-summary-component {
    border-radius: 3px;
    margin-bottom: 1em;

    .card-win {
      background-color: #4db5d7; // Win
    }

    .card-loose {
      background-color: #B0413E; // Losse
    }

    .card {
      .card-header {
        color: white;
        font-weight: 700;
        font-size: 14px;
      }

      .card-body {
        .champion-icon {
          border-radius: 3px;
          overflow: hidden;
          width: 75px;
          height: 75px;

          img {
            width: 100%;
            height: 100%;
            transform: scale(1.1);
            border: 0;
            vertical-align: middle;
          }
        }

        .match-score {
          .score-KDA {
            color: white;
            font-weight: 700;

            .slash {
              color: #5f5f7b;
            }

            .die {
              color: #ff4e50;
            }
          }

          .score-ratio {
            color: rgb(255, 155, 0);
            font-weight: 700;

            .faded {
              color: #cddcfe;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}