{% extends 'base.html.twig' %}

{% block title %}{{ summoner_account['name'] }} S12 LoL Profile (EUW) | Demyqewiki.gg{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}

{% block body %}
    <!-- Start "Stats Page Feature" -->
    <div class="stats">
        <!-- Start "NavBar" -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">Demyqewiki.gg</a>
            </div>
        </nav>
        <!-- End "NavBar" -->

        <!-- Start "Container Stats Page" -->
        <div class="container">
            <div class="row mt-2 mb-2">
                <div class="col-12">
                    <!-- Start "Summoner Profile Component" -->
                    <div class="summoner-profile-component d-flex">
                        <div class="summoner-icon">
                            <img src="https://ddragon.leagueoflegends.com/cdn/12.22.1/img/profileicon/5446.png" alt="Icon Profile" class="img-thumbnail img-fluid">
                        </div>

                        <div class="summoner-name">
                            {{ summoner_account['name'] }}
                        </div>
                    </div>
                    <!-- End "Summoner Profile Component" -->
                </div>
            </div>

            <!-- Start "Summoner Ranked Component" -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <!-- Start "Summoner Ranked Component" -->
                    <div class="summoner-ranked-component mb-2">
                        <!-- Start "Summoner Solo Ranked Content" -->
                        <div class="summoner-solo-ranked mb-2">
                            <div class="card">
                                <div class="card-header">
                                    Ranked Solo
                                </div>
                                <div class="card-body d-flex">
                                    <div class="solo-tier-icon">
                                        <img src="https://opgg-static.akamaized.net/images/medals_new/silver.png?image=q_auto,f_webp,w_144&v=1662350591536" class="me-2 rounded-circle img-thumbnail img-fluid" alt="Icon Solo Tier">
                                    </div>
                                    <div class="solo-tier-content">
                                        <div class="solo-tier-title">
                                            {{ summoner_ranked[1].tier }} {{ summoner_ranked[1].rank }}
                                        </div>
                                        <div class="solo-tier-lp">
                                            {{ summoner_ranked[1].leaguePoints }} LP
                                        </div>
                                    </div>
                                    <div class="solo-win-loose-stats">
                                        <div class="solo-win-loose">
                                            {{ summoner_ranked[1].wins }}W {{ summoner_ranked[1].losses }}L
                                        </div>
                                        <div class="solo-ratio">
                                            Win Rate {{ ((summoner_ranked[1].wins / (summoner_ranked[1].wins + summoner_ranked[1].losses)) * 100)|round(1, 'floor') }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End "Summoner Solo Ranked Content" -->

                        <!-- Start "Summoner Flex Ranked Content" -->
                        <div class="summoner-flex-ranked mb-2">
                            <div class="card">
                                <div class="card-header">
                                    Ranked Flex
                                </div>
                                <div class="card-body d-flex">
                                    <div class="flex-tier-icon">
                                        <img src="https://opgg-static.akamaized.net/images/medals_new/silver.png?image=q_auto,f_webp,w_144&v=1662350591536" class="me-2 rounded-circle img-thumbnail img-fluid" alt="Icon Flex Tier">
                                    </div>
                                    <div class="flex-tier-content">
                                        <div class="flex-tier-title">
                                            {{ summoner_ranked[0].tier }} {{ summoner_ranked[0].rank }}
                                        </div>
                                        <div class="flex-tier-lp">
                                            {{ summoner_ranked[0].leaguePoints }} LP
                                        </div>
                                    </div>
                                    <div class="flex-win-loose-stats">
                                        <div class="flex-win-loose">
                                            {{ summoner_ranked[0].wins }}W {{ summoner_ranked[0].losses }}L
                                        </div>
                                        <div class="flex-ratio">
                                            Win Rate {{ ((summoner_ranked[0].wins / (summoner_ranked[0].wins + summoner_ranked[0].losses)) * 100)|round(1, 'floor') }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End "Summoner Flex Ranked Content" -->
                    </div>
                    <!-- End "Summoner Ranked Component" -->
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                    <!-- Start "Summoner Match Summary Component" -->
                    <div class="summoner-match-summary-component">
                        <div class="card card-win">
                            <div class="card-header">
                                WIN • Ranked Solo
                            </div>
                            <div class="card-body">
                                <div class="match-summary d-flex justify-content-between align-items-center">
                                    <div class="champion-icon">
                                        <img src="https://static.u.gg/assets/lol/riot_static/12.16.1/img/champion/Morgana.png" class="me-2 img-fluid" alt="Icon Morgana">
                                    </div>
                                    <div class="match-score text-center">
                                        <div class="score-KDA">
                                            7 <span class="slash">/</span> <span class=die>10</span> <span class="slash">/</span> 23
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="summoner-match-summary-component">
                        <div class="card card-loose">
                            <div class="card-header">
                                WIN • Ranked Solo
                            </div>
                            <div class="card-body">
                                <div class="match-summary d-flex justify-content-between align-items-center">
                                    <div class="champion-icon">
                                        <img src="https://static.u.gg/assets/lol/riot_static/12.16.1/img/champion/Morgana.png" class="me-2 img-fluid" alt="Icon Morgana">
                                    </div>
                                    <div class="match-score text-center">
                                        <div class="score-KDA">
                                            7 <span class="slash">/</span> <span class=die>10</span> <span class="slash">/</span> 23
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End "Summoner Match Summary Component" -->
                </div>
                <!-- -->
            </div>
            <!-- End "Summoner Ranked Component" -->
        </div>
        <!-- End "Container Stats Page" -->
    </div>
    <!-- End "Stats Page Feature" -->
{% endblock %}
